* {
    padding: 0;
    margin: 0;
    font-family: "poppins", "sans-serif";
    box-sizing: border-box;
}
.formerror {
    color: red;
}
.show{
   background-color: black;

}

#bcontainer {
    position:absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-position: center;
    background-size: cover;
    align-items: center;
}
#om button{
    position: relative;
    top: 600px;
}

#bformbox {
    padding: 20px;
    border: none;

    box-shadow: 4px 4px 10px #030f16;
    width: 30%;
    position: absolute;
    transform: translate(-50%, -50%);
    background: rgb(248, 250, 248);
    top: 50%;
    left: 50%;
    overflow: hidden;
    text-align: center;
}
#bformbox h4 {
    width: 100%;
   margin-bottom: 10px;
   
}
h4 p{
    width: 50%;
    border-bottom:2px solid black;
    margin: auto;
}
span{
    float: right;
    cursor: pointer;
    margin:0;
    position: relative;
    top:-10px;
    right: -5px;
    font-size:medium;
    padding:0px 4px 0px 4px;
    background-color: gray;
    color: white;
}

input {
    width: 90%;
    min-width: 90%;
    margin: 5px auto 4px 15px;
    outline: 0;
    padding: 10px 7px;
    border: none;
    border-bottom: 1px solid black;
    background-color: rgb(249, 249, 244);
    padding: 8px;
    
}
.btn {
    width: 100%;
}

.btnn{
    cursor: pointer;
    width: 70px;
    text-align: center;
    background-color: rgb(235, 232, 229);
    height: 30px;
    font-size: medium;
    color: rgb(16, 15, 15);
    box-shadow: 3px 3px 5px rgb(100, 100, 99);
   
}

.btnn:hover {
    font-size: medium;
    color: white;
    background-color: #201414;
}


/* next */
@media screen and (max-width: 768px) {
    /* CSS rules for screens with a maximum width of 768px or less */
    .bformbox {
        width: 350px;
    }
    
    input {
        width: 60%;
    }
}

@media screen and (max-width: 400px) {
    /* CSS rules for screens with a maximum width of 480px or less */
    .bformbox {
        width: 90%;
    }
    
    input {
        width: 70%;
    }
}

